<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <style>
        table {
          width: 90%;
          border: 1px solid #444444;
          border-collapse: collapse;
          margin-left:auto;
          margin-right:auto;
        }
        th, td {
          border: 1px solid #444444;
        }
      </style>
    <table>
        <tr>
            <th>제목</th>
            <th><%= data.title %></th>
        </tr>
        <tr>
            <th>내용</th>
            <th><%- data.content %></th>
        </tr>
    </table>
    <div>
    <% if(loggedInUser.email == data.owner.email) { %>
      <a href="/post/delete/<%= data._id %>" style="margin-top:1%; float:right; margin-right: 5%; background-color: #3b4890; color:#fff; width:5%; text-align:center">삭제</a>
    <% } %>
    </div>
    <div style="margin-top:5%; text-align:center;">
      <form method="POST" action="/comment/<%= data._id %>">
        <textarea name="comment" style="resize:none;" placeholder="댓글을 입력해주세요" onkeypress="check_enter()"></textarea>
      </form>
    </div>
    <script>
      function check_enter(){
        if(event.keyCode==13){
          event.returnValue=false;
        }
      }
    </script>
    <%- include('./partials/footer') %>
</body>
</html>